body{
      background-color: rgb(0, 47, 255);
      color:black
}
<header>{
margin: 40px;

background-color: blue;
text-size-adjust: 40px;
justify-content: center;
border:solid 5px rgb(red, rgb(70, 228, 8), blue)
}
section{
background-color: gold;
margin: 40px;
display:flex
}
section{ 
padding:rgb(250, 250, 255) ;
border: 48px;

}